<div id="<%= dom_id registered_attendee %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Ideathon year:</strong>
    <%= registered_attendee.ideathon_year_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Team:</strong>
    <%= registered_attendee.team_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Attendee name:</strong>
    <%= registered_attendee.attendee_name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Attendee phone:</strong>
    <%= registered_attendee.attendee_phone %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Attendee email:</strong>
    <%= registered_attendee.attendee_email %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Attendee major:</strong>
    <%= registered_attendee.attendee_major %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Attendee class:</strong>
    <%= registered_attendee.attendee_class %>
  </div>
</div>
