<h1>Edit Sponsor/Partner</h1>

<%= form_with(model: @sponsors_partner, local: true) do |form| %>
  <% if @sponsors_partner.errors.any? %>
    <div class="form-errors" role="alert">
      <h3><%= pluralize(@sponsors_partner.errors.count, "error") %> prohibited this record from being saved:</h3>
      <ul>
        <% @sponsors_partner.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% include_logo = if params.dig(:sponsors_partner, :include_logo).present?
    params.dig(:sponsors_partner, :include_logo) == "1"
  else
    @sponsors_partner.logo_url.present?
  end %>

  <div>
    <%= form.label :year %>
    <%= form.select :year, @ideathon_years, prompt: "Select Ideathon Year" %>
  </div>

  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :job_title %>
    <%= form.text_field :job_title %>
  </div>

  <div>
    <%= label_tag :sponsors_partner_include_logo, "Include logo image?" %>
    <%= hidden_field_tag "sponsors_partner[include_logo]", "0" %>
    <%= check_box_tag "sponsors_partner[include_logo]", "1", include_logo, id: "sponsors_partner_include_logo" %>
    <p>Uncheck to remove any existing logo and use text fallback on the public site.</p>
  </div>

  <div>
    <%= form.label :logo_url, "Logo URL (optional)" %>
    <%= form.text_field :logo_url %>
  </div>

  <div>
    <%= form.label :blurb %>
    <%= form.text_area :blurb %>
  </div>

  <div>
    <%= form.label :is_sponsor, "Is Sponsor?" %>
    <%= form.check_box :is_sponsor %>
  </div>

  <div>
    <%= form.submit "Update Sponsor/Partner" %>
  </div>
<% end %>

<br>
<%= link_to "Back to Sponsors & Partners", sponsors_partners_path %>
